{{- $count := default .Site.Params.recentPostCount .Params.recentPostCount -}}
{{- if $count -}}
  {{- $sections := .Site.Params.mainSections -}}
  {{- if in (slice "posts" "docs") .Type -}}
    {{- $sections = slice .Type -}}
  {{- end -}}
  {{- $recentPosts := where site.RegularPages.ByDate.Reverse "Type" "in" $sections -}}
  {{- $recentPosts = where $recentPosts "RelPermalink" "ne" .RelPermalink -}}
  {{- with first $count $recentPosts -}}
    <div class="cd-related-work">
      <h2 class="cd-related-work-title">{{ i18n "recent_posts" }}:</h2>
      <div class="cd-related-work-grid">
        {{- range . -}}
          <a class="cd-related-work-card" href="{{ .RelPermalink }}">
            <div class="cd-related-work-thumb">
              {{- partial "post/thumbnail" . -}}
            </div>
            <p class="cd-related-work-name">{{ partial "helpers/title" . }}</p>
          </a>
        {{- end -}}
      </div>
    </div>
  {{- end -}}
{{- end -}}