{{ if .Params.images }}
  {{- $formats := slice "avif" "webp" "jxl" -}}
  <picture>
  {{- $img := index .Params.images 0 -}}
  {{- $ext := $img | path.Ext }}
  {{- $url := urls.Parse $img -}}
  {{- $width := false -}}
  {{- $height := false }}
  {{- $validExts := slice ".svg" ".avif" -}}
  {{- if not $url.Scheme -}}
    {{- range $formats -}}
      {{- $filename := replace $img $ext (printf ".%s" .) -}}
      {{- if and (not (strings.HasSuffix $ext .)) (fileExists (path.Join "static" $filename)) -}}
        <source srcset="{{ $filename | absURL }}" type="image/{{ . }}" />
      {{- end -}}
    {{- end -}}
    {{- $filename := path.Join "static" $url.Path -}}
    {{- if fileExists $filename -}}
      {{- if not (in $validExts $ext) -}}
        {{- $config := imageConfig $filename -}}
        {{- $width = $config.Width -}}
        {{- $height = $config.Height -}}
      {{- end -}}
    {{- else -}}
      {{- warnf "no such image can be found in page resources and the static folder: %s" $filename -}}
    {{- end -}}
  {{- end -}}
    <img class="img-fluid" alt="{{ .Title }}" src="{{ $img | absURL }}" loading="lazy"
    {{ with $width }} width="{{ . }}"{{ end }}
    {{ with $height}} height="{{ . }}"{{ end }}/>
  </picture>
{{- else -}}
  {{- $featured := partialCached "functions/thumbnail" . . -}}
  {{- with $featured -}}
    {{- $smallImage := .Resize "240x q75" -}}
    {{- $mediumImage := .Resize "400x q75" -}}
    {{- $largeImage := .Resize "640x q75" -}}
    <picture>
      <source
        srcset="{{ $smallImage.RelPermalink }} 240w, {{ $mediumImage.RelPermalink }} 400w, {{ $largeImage.RelPermalink }} 640w"
        sizes="(max-width: 575.98px) 100vw, (max-width: 991.98px) 50vw, 25vw">
      <img
        class="img-fluid"
        height="{{ $mediumImage.Height }}"
        width="{{ $mediumImage.Width }}"
        alt="{{ .Title }}"
        src="{{ $mediumImage.RelPermalink }}"
        data-src="{{ $featured.RelPermalink }}"
        loading="lazy"/>
    </picture>
  {{- end -}}
{{- end -}}