<h1 class="cd-entry-title">{{ partial "helpers/title" . }}</h1>
<article class="row card component mb-4 post cd-entry-card">
  <div class="card-body">
    {{- partial "post/meta" . -}}
    {{- partial "post/featured-image" . -}}
    {{- with .Description }}
      <p class="lead mb-3 text-body-emphasis">{{ . }}</p>
    {{- end }}
    {{- partial "hooks/content-begin" . -}}
    {{- partial "post/share" . -}}
    {{- partial "post/content" . -}}
    {{- partial "post/reward" . -}}
    {{- partial "hooks/content-end" . -}}
  </div>
  {{- if eq .Section "portfolio" }}{{- partial "post/nav" . -}}{{- end }}
</article>
{{- partial "post/copyright/index" . -}}
{{- if eq .Section "portfolio" }}{{- partial "cd/recent-posts-inline" . -}}{{- end }}
